CHD_TARGET_LLAMA=http://127.0.0.1:8080
CHD_TARGET_CHATTERBOX=http://127.0.0.1:8000
CHD_TARGET_CHATTERBOX_TURBO=http://127.0.0.1:8001
CHD_TARGET_QWEN3_TTS=http://127.0.0.1:8100
CHD_TARGET_QWEN3_TTS_BASE=http://127.0.0.1:8101
CHD_TARGET_VOXCPM2=http://127.0.0.1:8003
CHD_TARGET_WHISPER=http://127.0.0.1:9000
CHD_TARGET_MINILM_L6=http://127.0.0.1:8200
CHD_TARGET_MPNET_BASE_V2=http://127.0.0.1:8201
